<app-nav-menu class="sticky"></app-nav-menu>
<app-shell-navigation></app-shell-navigation>
<div *ngIf="globalActiveMenuItem" class="container"
fxLayout
fxLayoutAlign="center"
fxLayoutGap="10px">
  <div *ngIf="globalActiveMenuItem.name == 'Dashboard'">
   
      <!-- <button
        (click)="fillNewApplicationForm()"
        type="button"
        mat-flat-button
        class="bg-red font-white"
      > -->
      <mat-card class="form-card ">
      <mat-icon  matTooltip="add new application"  (click)="fillNewApplicationForm()" >add_circle</mat-icon>
      <!-- </button> -->
   <app-application-dashboard></app-application-dashboard>
  </mat-card>
  
  </div>
  <div *ngIf="globalActiveMenuItem.name == 'Application'">
  <app-intake-form></app-intake-form>
  </div>
</div>
