<app-nav-menu></app-nav-menu>
<app-shell-navigation></app-shell-navigation>
<div *ngIf="globalActiveMenuItem">
  <div *ngIf="globalActiveMenuItem.name == 'Dashboard'">
    Dashboard item loaded
    <div class="button">
      <button
        (click)="fillNewApplicationForm()"
        type="button"
        mat-flat-button
        class="bg-red font-white"
      >
        Fill new application form
      </button>
    </div>
  </div>
  <div *ngIf="globalActiveMenuItem.name == 'Application'">
    Application item loaded
  </div>
</div>
