<form [formGroup]="transactionForm" (ngSubmit)="saveRelationshipInformation()">

    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>
          <mat-label class="header">
            Online transaction Information
            </mat-label>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
    
          
  
         
          
           
                <div class="row">
                  <div class="col-md-12 margin_top">
                    <mat-label class="radioLabel"> Do you accept payment via website? </mat-label>
                    <mat-radio-group formControlName="PaymentVia" class="margin-left">
                      <mat-radio-button value="1" class= "radioButtonFirst_rightMargin"> Yes </mat-radio-button>
                      <mat-radio-button value="2"> No </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 margin_top">
                    <mat-label class="radioLabel"> Do you use a fulfillment house to take your orders or ship your products? </mat-label>
                    <mat-radio-group formControlName="ordersDestiny" class="margin-left">
                      <mat-radio-button value="1" class= "radioButtonFirst_rightMargin"> Yes </mat-radio-button>
                      <mat-radio-button value="2"> No </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <input type="text" matInput placeholder="How do you ship the majority of you product orders?" formControlName="DeliveryPath" />
                    </mat-form-field>
                  </div>
                </div>
            </mat-card-content>
          
          </mat-card>
        
            
          <mat-card class="form-card">
            <mat-card-header>
              <mat-card-title>
                <mat-label class="header">
                  Other transaction Information
                  </mat-label>
              </mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
          
                      <div class="row">
                        <div class="col-md-12 margin_top">
                          <mat-label class="radioLabel"> Has the customer previously accepted Visa/Mastercard? </mat-label>
                          <mat-radio-group formControlName="VisaOrMartercard" class="margin-left">
                            <mat-radio-button value="1" class= "radioButtonFirst_rightMargin"> Yes </mat-radio-button>
                            <mat-radio-button value="2"> No </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    
                      <div class="row">
                        
                        <div class="col-md-12">
                          <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Satement sent to" formControlName="StatementSentTo" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        
                        <div class="col-md-6">
                          <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Custmomer Service Phone" formControlName="CustomerServicePhone" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Refund Policy" formControlName="RefundPolicy" />
                          </mat-form-field>
                        </div>
                      </div>

        
        
                  
        
                 
                  </mat-card-content>
                  <mat-card-actions >
                    <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                    <!-- <button  mat-raised-button  class="btn btn-primary" [disabled]="!BusinessFormGroup.valid" mat-button matStepperNext >Next</button> -->
                  </mat-card-actions>
                </mat-card>

     
     </form>