.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.input-spacer {
  padding-right: 10px;
}

:host ::ng-deep .mat-step-icon-selected {
  background-color: red !important;
}


.form-card {
  max-width: 1250px;
  margin: 2em;
}

.mat-stepper{
  max-width: 1200px;
  margin-left: 120px;
}