<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-stepper [linear]="isLinear" #stepper class="mat-stepper">
    <mat-step [stepControl]="BusinessFormGroup">
        <ng-template matStepLabel>Business Information</ng-template>
        <form [formGroup]="BusinessFormGroup" (ngSubmit)="saveBusinessInformation()">
          <mat-card class="form-card">
            <mat-card-header>
              <mat-card-title>
                <mat-label class="header">
                  Business Information
                  </mat-label>
              </mat-card-title>
            </mat-card-header>
            <div class="form-row">
                <div class="form-group">
                    <!-- <mat-label>RecepientName : </mat-label> Johnson -->
                </div>
            </div>

            <mat-card-content>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="ID Type" formControlName="IdType" />

                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="SSN" formControlName="SSN" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Business legal name" formControlName="businessLegalName" />
                  </mat-form-field>
                </div>
                <div class="col-md-6 top-padding">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="IRS filling name" formControlName="IRSFinllingName" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Entity type" formControlName="EntityType" />
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-12 margin_top">
                  <mat-label class="radioLabel"> Is the business a Not for profit ?</mat-label>
                  <mat-radio-group formControlName="IsNonPRofit" class="margin-left">
                    <mat-radio-button class="radioButtonFirst_leftMargin radioButtonFirst_rightMargin" value="1"> Yes </mat-radio-button>
                    <mat-radio-button value="2"> No </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 margin_top">
                  <mat-label class="radioLabel"> Is the business disregarded entity? </mat-label>
                  <mat-radio-group formControlName="IsbusinessDisRegarded" class="margin-left">
                    <mat-radio-button value="1" class= "radioButtonFirst_rightMargin"> Yes </mat-radio-button>
                    <mat-radio-button value="2"> No </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions >
              <button  mat-raised-button  class="btn btn-primary" [disabled]="!BusinessFormGroup.valid" mat-button matStepperNext >Next</button>
            </mat-card-actions>
          </mat-card>

           
        </form>
       
    </mat-step>
    <mat-step label="">
      <ng-template matStepLabel>Relationship Information</ng-template>
      <app-relationship-form></app-relationship-form>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Transaction Details</ng-template>
     <app-transaction-form></app-transaction-form>
     
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Application Summary</ng-template>
        <app-user-information></app-user-information>
      </mat-step>
    
  </mat-stepper>